<html>
<h1>{{ container.title }}</h1>
<p>{{ container.summary }}</p>
Versions: {{ version.ingredients }}
ID = {{ container }}



<br/>
<h2>Ingredients</h2>
<ul>
{% for ingredient, value in version.ingredients.items %}

	<li>{{ value.amt }} -- {{ value.ingredient }}</li>

{% endfor %}
</ul>

<h2>Steps</h2>
<ol>
{% for key, step in version.steps.items %}

	<li>{{ step.step }}</li>

{% endfor %}
</ol>

<h2>Versions</h2>

{% for version in version_list %}

	{{ version.Note }}

{% endfor %}


<h1>Edit recipe</h1>


<form action="." method="post">{% csrf_token %}



{{ ingredient_formset.as_p }}
{{ step_formset.as_p }}
{{ form.as_p }}

<input type="submit" value="submit" />

</form>








{% comment %}<input type="text" name="ingredient" placeholder="Ingredient" /><br />
<input type="text" name="ingredient" placeholder="Ingredient" /><br />
<input type="text" name="ingredient" placeholder="Ingredient" /><br />
<input type="text" name="ingredient" placeholder="Ingredient" /><br />

<textarea name="step"></textarea><br />
<textarea name="step"></textarea><br />
<textarea name="step"></textarea><br />

<textarea name="comment"></textarea>
<br />
<input type="hidden" value="{{ container.id }}" />{% endcomment %}
</html>